<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mariana Azevedo</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
  </head>
  <body ng-app="app">
    <div class="container" ng-controller="PageCtrl" ng-init="init()">
      <div class="row">
        <div class="col-xs-12">
          <div id="photo-header">
            <!-- PHOTO (AVATAR) -->
            <div class="col-xs-1">
               <div id="photo">
                  <img src="images/avatar.jpg" alt="avatar">
               </div>
            </div>
           
            <div class="col-xs-11">
              <div id="text-header" class="col-xs-12">
                <h1><span class="text-header-margin">Mariana Azevedo</span></h1>
                <h2><span class="fa fa-briefcase fa-fw"></span><span>Developer/Researcher</span></h2>
                <h2><span class="fa fa-map-marker fa-fw"></span><span>Brazil, MG, Lavras</span></h2>
                <h2><span class="text-header-margin">This is my Resume/CV</span></h2>
              </div>
            </div>

            <div id="text-line" class="col-xs-12"></div>
            
          </div>
        </div>
      </div>
      
      <div class="row">  
        <div class="col-xs-12 col-sm-7">
          
          <!-- ABOUT ME -->
          <div class="box">
            <h2>About Me</h2>
            <p>
              Good teammate, also an enthusiast of agile development, with more than 5 years of experience in software development. Solid background in working with developer of back-end, front-end, and mobile applications, leading agile teams to develop robust and highly scalable applications.
            </p>
          </div>
          
          <!-- EDUCATION -->
          <div class="box">
            <h2>Education</h2>
            <ul id="education" class="clearfix">
              <li>
                <div class="year pull-left">2007 - 2011</div>
                <div class="description pull-right">
                  <h3>Bachelor in Information Systems (BSc)</h3>
                  <p>Federal University of Lavras - Universidade Federal de Lavras (UFLA)</p>
                  <p><b>Final work title: </b> AGILE UBPM FOR SCRUM: Modelo de Aprimoramento do Gerenciamento e Desenvolvimento Ágil Baseado na Percepção de Valor do Usuário. 2011. 144p.</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2013 - 2015</div>
                <div class="description pull-right">
                  <h3>Master in Computer Science (MSc)</h3>
                  <p>Federal University of Lavras - Universidade Federal de Lavras (UFLA)</p>
                  <p><b>Field: </b> Software Engineering</p>
                  <p><b>Dissertation title: </b> A quantitative study for the characterization of internal quality of open- source object-oriented software systems. 2015. 194p.</p>
                </div>
              </li>
            </ul>
          </div>

           <!-- EXPERIENCES -->
          <div class="box">
            <h2>Experiences</h2>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Equals S/A</div>
                <div class="year">2016</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Developer</div>
                <div class="description">Working in a financial system developed with Java.</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Mitah Technologies</div>
                <div class="year">2011-2016</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Back-end developer/Front-end developer/Mobile developer</div>
                <div class="description">Worked as front-end developer/team leader for almost 3 years (with JavaScript/AngularJS/Bootstrap). Also, worked as back-end developer (Java) and mobile developer (Android) for 3 years.</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Universidade Federal de Lavras (UFLA)</div>
                <div class="year">2008-2011</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Internships - System analyst junior</div>
                <div class="description">Worked in three different research groups at Federal University of Lavras (UFLA) as developer/team leader for almost 3 years (with Java/HTML/CSS): Geomatics lab, being instructor in geoprocessing courses; Educational game lab; and, Software Engineering lab named LabGTI.</div>
              </div>
            </div>
          </div>

        </div>
        
        <div class="col-xs-12 col-sm-5">
          <!-- CONTACT -->
          <div class="box clearfix">
            <h2>Contact</h2>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
              <div class="title pull-right">Email</div>
              <div class="description pull-right cursor-pointer">
                <a ng-click="sendMail()">mariana@bsi.ufla.br</a>
              </div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
              <div class="title pull-right">LinkedIn</div>
              <div class="description pull-right cursor-pointer">
                <a ng-click="goToLinkedIn()">https://www.linkedin.com/in/mariana-de-azevedo-santos-1a126321</a>
              </div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-github fa-fw"></span></div>
              <div class="title pull-right">Github</div>
              <div class="description pull-right cursor-pointer">
                <a ng-click="goToGithub()">https://github.com/mariazevedo88</a>
              </div>
            </div>
          </div>

          <!-- SKILLS -->
          <div class="box">
            <h2>Skills</h2>
            <div class="skills">
              <div class="item-skills" data-percent="1.00">Java</div>
              <div class="item-skills" data-percent="1.00">Scrum</div>
              <div class="item-skills" data-percent="0.90">HTML</div>
              <div class="item-skills" data-percent="0.90">JavaScript</div>
              <div class="item-skills" data-percent="0.90">AngularJS</div>
              <div class="item-skills" data-percent="0.70">SQL</div>
              <div class="item-skills" data-percent="0.70">PostgreSQL</div>
              <div class="item-skills" data-percent="0.70">CSS</div>
              <div class="item-skills" data-percent="0.70">Git</div>
              <div class="item-skills" data-percent="0.30">MyBatis</div>
              <div class="item-skills" data-percent="0.30">SQL Developer</div>
              <div class="item-skills" data-percent="0.30">PHP</div>
              <div class="item-skills" data-percent="0.30">Wordpress</div>
              <div class="item-skills" data-percent="0.30">Joomla</div>
              <div class="skills-legend clearfix">
                <div class="legend-left legend">Beginner</div>
                <div class="legend-left legend"><span>Proficient</span></div>
                <div class="legend-right legend"><span>Expert</span></div>
                <div class="legend-right legend">Master</div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <!-- PAPERS -->
          <div class="box clearfix">
            <h2>Papers published</h2>
            <div class="paper-item" ng-repeat="paper in papersPublished">
              <div class="icon pull-left text-center"><span class="fa fa-download fa-fw"></span></div>
              <div class="title pull-right" ng-bind-template="[{{paper.year}}] {{paper.name}}"></div>
              <div class="description pull-right cursor-pointer">
                <a ng-click="downloadPaper(paper.link)">Download ({{paper.size}})</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- JQUERY -->
    <script src="js/jquery.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="js/bootstrap.min.js"></script>
    <!-- ANGULARJS -->
    <script src="js/angular.min.js"></script>
    <!-- ANGULARJS ROUTE -->
    <script src="js/angular-route.min.js"></script>
    <!-- SCRIPTS -->
    <script src="js/index.js"></script>
  </body>
</html>